In [1]:
import pandas as pd

In [29]:
pd.set_option('display.float_format', '{:,.0f}'.format)
pd.set_option('display.max_columns', None)

In [2]:
media_df = pd.read_csv('media_data.csv')

In [3]:
media_df.shape

(32405, 23)

In [4]:
media_df.columns

Index(['timedesc', 'year', 'month', 'count', 'model_region', 'regiondesc',
       'effect', 'prodhierarchy1', 'filter_brand_for_model', 'brand',
       'vehicle', 'campaign', 'subtype0', 'subtype1', 'subtype2',
       'model_vehicle', 'type', 'spend', 'currency', 'original_value', 'fact',
       'value', 'scaled_fact'],
      dtype='object')

In [5]:
media_df['brand'].unique()

array(['CDC', 'SALT', 'EQUITY', 'TOTAL', 'PANJAVED'], dtype=object)

In [14]:
overall_spend_df = media_df.groupby(['brand'])['spend'].sum().reset_index()

In [17]:
overall_spend_df['spend_in_inr'] = overall_spend_df['spend']*2.74

In [18]:
overall_spend_df

      brand       spend  spend_in_inr
0       CDC 201,079,760   550,958,542
1    EQUITY 166,698,530   456,753,972
2  PANJAVED 177,180,266   485,473,930
3      SALT 182,191,488   499,204,676
4     TOTAL 191,229,169   523,967,922

In [20]:
overall_spend_df['spend_in_cr'] = overall_spend_df['spend_in_inr']/10**7

In [21]:
overall_spend_df

      brand       spend  spend_in_inr  spend_in_cr
0       CDC 201,079,760   550,958,542           55
1    EQUITY 166,698,530   456,753,972           46
2  PANJAVED 177,180,266   485,473,930           49
3      SALT 182,191,488   499,204,676           50
4     TOTAL 191,229,169   523,967,922           52

In [24]:
media_df['year_month'] = media_df['year'].astype(str) + '-' + media_df['month'].astype(str)

In [26]:
media_df['year_month'].unique()

array(['2017-1', '2017-2', '2017-3', '2017-4', '2017-5', '2017-6',
       '2017-7', '2017-8', '2017-9', '2017-10', '2017-11', '2017-12',
       '2018-1', '2018-2', '2018-3', '2018-4', '2018-5', '2018-6',
       '2018-7', '2018-8', '2018-9', '2018-10', '2018-11', '2018-12',
       '2019-1', '2019-2', '2019-3', '2019-4', '2019-5', '2019-6',
       '2019-7', '2019-8', '2019-9', '2019-10', '2019-11', '2019-12',
       '2020-1', '2020-2', '2020-3', '2020-4', '2020-5', '2020-6',
       '2020-7', '2020-8', '2020-9', '2020-10', '2020-11', '2020-12'],
      dtype=object)

In [30]:
media_df

,timedesc,year,month,count,model_region,regiondesc,effect,prodhierarchy1,filter_brand_for_model,brand,vehicle,campaign,subtype0,subtype1,subtype2,model_vehicle,type,spend,currency,original_value,fact,value,scaled_fact,year_month
0,2017-01-06,2017,1,4,THAILAND,NATIONAL,Target,OPEN TRADE BLUE,CDC,CDC,TV,CALCILOCK PACMAN,COMMERCIALAD,TIER 3,30S,TV_CDC_COMMERCIALAD_CALCILOCK PACMAN_TIER 3_30...,Traditional,"11,350",Baht,1,GRP,1,GRP,2017-1
1,2017-01-06,2017,1,4,THAILAND,NATIONAL,Target,OPEN TRADE BLUE,CDC,CDC,TV,CALCILOCK PACMAN,COMMERCIALAD,TIER 2,30S,TV_CDC_COMMERCIALAD_CALCILOCK PACMAN_TIER 2_30...,Traditional,"19,125",Baht,2,GRP,2,GRP,2017-1
2,2017-01-06,2017,1,4,THAILAND,NATIONAL,Target,OPEN TRADE NON-BLUE,CDC,CDC,TV,CALCILOCK PACMAN,COMMERCIALAD,CH3,30S,TV_CDC_COMMERCIALAD_CALCILOCK PACMAN_CH3_30S_1234,Traditional,"106,000",Baht,4,GRP,4,GRP,2017-1
3,2017-01-06,2017,1,4,THAILAND,NATIONAL,Target,OPEN TRADE BLUE,CDC,CDC,TV,CALCILOCK PACMAN,COMMERCIALAD,TIER 1,30S,TV_CDC_COMMERCIALAD_CALCILOCK PACMAN_TIER 1_30...,Traditional,"44,850",Baht,4,GRP,4,GRP,2017-1
4,2017-01-06,2017,1,4,THAILAND,NATIONAL,Target,OPEN TRADE BLUE,CDC,CDC,TV,CALCILOCK PACMAN,COMMERCIALAD,CH7,30S,TV_CDC_COMMERCIALAD_CALCILOCK PACMAN_CH7_30S_1234,Traditional,"82,538",Baht,4,GRP,4,GRP,2017-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32400,2020-12-25,2020,12,4,THAILAND,NATIONAL,Halo,OPEN TRADE NON-BLUE,CDC,EQUITY,TV,YIMSU,COMMERCIALAD,CH3,30S,TV_EQUITY_YIMSU,Traditional,"134,788",Baht,12,GRP,12,GRP,2020-12
32401,2020-12-25,2020,12,4,THAILAND,NATIONAL,Halo,OPEN TRADE NON-BLUE,CDC,EQUITY,TV,YIMSU,COMMERCIALAD,CH7,30S,TV_EQUITY_YIMSU,Traditional,"111,225",Baht,5,GRP,5,GRP,2020-12
32402,2020-12-25,2020,12,4,THAILAND,NATIONAL,Halo,OPEN TRADE NON-BLUE,CDC,EQUITY,TV,YIMSU,COMMERCIALAD,TIER 1,30S,TV_EQUITY_YIMSU,Traditional,"61,625",Baht,5,GRP,5,GRP,2020-12
32403,2020-12-25,2020,12,4,THAILAND,NATIONAL,Halo,OPEN TRADE NON-BLUE,CDC,EQUITY,TV,YIMSU,COMMERCIALAD,TIER 2,30S,TV_EQUITY_YIMSU,Traditional,"10,175",Baht,1,GRP,1,GRP,2020-12
32404,2020-12-25,2020,12,4,THAILAND,NATIONAL,Halo,OPEN TRADE NON-BLUE,CDC,EQUITY,TV,YIMSU,COMMERCIALAD,TIER 3,30S,TV_EQUITY_YIMSU,Traditional,"6,300",Baht,1,GRP,1,GRP,2020-12

In [ ]:
spend_2020 = media_df[media_df['year'] == 2020].groupby(['brand'])['spend'].sum()

brand
CDC        26,622,532
EQUITY     98,157,070
PANJAVED   84,138,991
SALT       40,356,379
TOTAL      43,777,005
Name: spend, dtype: float64